/* Reset default margin and padding */
body, div, h1, ul, li, button, input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.button-link, .form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border: none;
  width: auto;
  padding: 15px 50px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s ease;
}

.button-link:hover, .form-submit:hover {
  background: #4292dc;
}
a{
	text-decoration: none;
	color: #fff;
}


input[name="username"] {
  display: none;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  max-width: 100%; 
  height: auto; 
  z-index: -1;
  opacity: 0.7;
}


@media (max-width: 768px) {
  .button-link, .form-submit {
    width: 100%; 
  }
}
